body {
	background-image: url("soul.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: white;
}

h2 {
	color: white;
	}

#navbar {
	position: fixed;
	top:10px;
	left:50%;
 	margin-left:-254px;
}

#header {
	position: relative;
/* 	top: -10px; */
/* 	background-color: white; */
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #cc0323;
	}
	
#left{
	width: 32.5%;
	float: left;
}

#right{
	width: 45%;
	float: right;
}

p {
	color: white;
	font-family: Tahoma;
	font-size: 1em;
}
a {
	color: white;
	text-decoration: none;
}

#links {
	text-align: center;
	display: block;
	position: relitive;
	margin-left: 550px;
	}
	
.links {
	text-align: center;
	display: block;
	border-radius: 5px 5px;
	width: 150px;
	
	}
	
#img {
	height:60%;
	width:60%;
	}

span {
	font-weight: bold;
	color: red;
	}